/*
Common
*/
html, body {
    height: 100%;
}

.header{
    display: flex;
    padding: 10px;


}
form input {
    border: 0px;
}
.logo-header{
    width: 50px;
    margin-right: 20px;
}
.home{
    display: flex
}

.img-logo{
    width: 50px;
    border-radius: 50%;
}

.tweet{
    display: block;
padding: 10px;
}

.name-input{
    border: 0px;
    width: 100%;
    background: #e6fef7;
    border-radius: 5px;
    margin-bottom: 10px;
    padding: 10px;
}


.post-file{
display: flex;
justify-content: space-between;
align-items: center;

}
.post-file .btn{
    width: 20%;
    background-color: rgb(29, 161, 242);
    border-radius: 5px;
    border: 0px;
    color: #fff;
}



.img-post{
    width: 80%;
    border-radius: 20px;
    
}


.like-post{
    display: flex;
    align-items: center;

}

.like-post a{
    margin-right: 10px;
}

.content {
    max-width: 600px;
    height: 100%;
    margin: 0 auto;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;

}
.post_form {
    padding: 20px 40px;
    border-bottom: 1px solid #ccc;
}
.post_form input {
    width: 95%;
    margin-bottom: 10px;
    padding: 10px;
}
.post_form textarea{
    width: 95%;
    padding: 10px;
    border: 0px;
}.post_form button{
    width: 70%;
    padding: 10px;
    border: 1px solid #ccc
}
.posts ul {
    padding: 0;
}
.cancel-btn{
    color: #fff;
    background-color: rgb(29, 161, 242);
    text-decoration: none;
    padding: 9px 15px;
    border-radius: 5px;
    margin-right: 10px;
}

.posts li{
    display: flex;
    border-bottom: 1px solid #ccc;
    padding: 17px;  
    position: relative;

}
.posts li .menu_icon{
    width: 20px;
    position: absolute; 
    right: 30px;
    top: 18px;
}

.posts li .menu{
    display: none;
    position: absolute;
    top:40px;
    right: 15px;
    border: 1px solid #ccc;
    background-color: #fff;
    padding: 10px 15px;
    font-size: 13px;
    border-radius: 3px;
    
}
img.like-icon{
    width: 30px;
}

.posts li .menu a{
    text-decoration: none;
}


.posts li .logo{
    flex-basis: 15%;
}
.posts li .logo img{
    width: 80px; 
    border-radius: 50%;   
    }
    
.posts li .name_body{
        flex-basis: 85%;
    }
   .posts li .name_body .name{
    font-weight: bold;
   }
   .posts li .name_body .datetime{
    color: gray;
   }



    @media screen and (max-width: 500px) {
        .posts li .name_body .name {
            font-size: 20px;
        }
        
    }

